In [14]:
import os
os.listdir()

['.ipynb_checkpoints',
 'hell.csv',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'Untitled.ipynb']

In [2]:
import pandas

In [16]:
df1=pandas.read_csv("hell.csv")
df1

c:\users\laghao\appdata\local\programs\python\python36\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,@timestamp,sla_downtime,http_status,uri,sla_uptime,IUID
0,1519858801,0,200,https://etf.deutscheam.com/de-DE,1,NaN
1,1519858801,0,200,https://www.dws.de/,1,NaN
2,1519858802,0,200,https://etf.deutscheam.com/GBR/ENG/Home,1,NaN
3,1519858802,0,200,https://etf.deutscheam.com/de-DE/produktfinder...,1,NaN
4,1519858802,0,200,https://etf.deutscheam.com/de-DE/produktfinder/,1,NaN
5,1519858802,0,200,https://www.dws.de/planen/,1,NaN
6,1519858802,0,200,https://www.dws.de/entdecken/,1,NaN
7,1519858802,0,200,https://www.dws.de/investieren/,1,NaN
8,1519858802,0,200,https://www.dws.de/dws-magazin/,1,NaN
9,1519858802,0,200,https://www.dws.de/aktienfonds/de0008474057-ba...,1,NaN
10,1519858803,0,200,https://etf.deutscheam.com/de-DE/ueber-uns/pre...,1,NaN
11,1519858803,0,200,https://etf.deutscheam.com/de-DE/dokumente/dow...,1,NaN
12,1519858803,0,200,https://etf.deutscheam.com/de-DE/etf-wissen/ei...,1,NaN
13,1519858803,0,200,https://etf.deutscheam.com/de-DE/risiken-und-h...,1,NaN
14,1519858803,0,200,https://etf.deutscheam.com/de-DE/audience-sele...,1,NaN
15,1519858803,0,200,https://etf.deutscheam.com/de-DE/LU0659579063-...,1,NaN
16,1519858804,0,200,https://etf.deutscheam.com/de-DE/LU0952581402-...,1,NaN
17,1519858804,0,200,https://etf.deutscheam.com/de-DE/LU0429790743-...,1,NaN
18,1519858804,0,200,https://etf.deutscheam.com/de-DE/LU0397221945-...,1,NaN
19,1519858981,0,418,https://etf.deutscheam.com/de-DE,1,NaN
20,1519858981,0,418,https://www.dws.de/,1,NaN
21,1519858981,0,418,https://www.dws.de/planen/,1,NaN
22,1519858981,0,418,https://www.dws.de/entdecken/,1,NaN
23,1519858982,0,418,https://www.dws.de/dws-magazin/,1,NaN
24,1519858982,0,418,https://www.dws.de/aktienfonds/de0008474057-ba...,1,NaN
25,1519858982,0,418,https://etf.deutscheam.com/GBR/ENG/Home,1,NaN
26,1519858982,0,418,https://etf.deutscheam.com/de-DE/produktfinder...,1,NaN
27,1519858982,0,418,https://etf.deutscheam.com/de-DE/produktfinder/,1,NaN
28,1519858982,0,418,https://www.dws.de/investieren/,1,NaN
29,1519858983,0,418,https://etf.deutscheam.com/de-DE/ueber-uns/pre...,1,NaN
...,...,...,...,...,...,...
290326,1522533244,0,200,https://dws.com/en-us/,1,NaN
290327,1522533244,0,200,https://dws.com/US/EN/Product-Finder,1,NaN
290328,1522533244,0,200,https://dws.com/US/EN/Product-Detail-Page/ASHX,1,NaN
290329,1522533244,0,200,https://login.deutscheam.com/login?signin=681c...,1,NaN
290330,1522533421,0,200,https://etf.deutscheam.com/de-DE,1,NaN
290331,1522533421,0,200,https://www.dws.de/,1,NaN
290332,1522533422,0,200,https://www.dws.de/planen/,1,NaN
290333,1522533422,0,200,https://www.dws.de/entdecken/,1,NaN
290334,1522533422,0,200,https://www.dws.de/investieren/,1,NaN
290335,1522533422,0,404,https://www.dws.de/dws-magazin/,1,NaN
290336,1522533422,0,200,https://www.dws.de/aktienfonds/de0008474057-ba...,1,NaN
290337,1522533422,0,200,https://etf.deutscheam.com/GBR/ENG/Home,1,NaN
290338,1522533422,0,200,https://etf.deutscheam.com/de-DE/produktfinder...,1,NaN
290339,1522533422,0,200,https://etf.deutscheam.com/de-DE/produktfinder/,1,NaN
290340,1522533422,0,200,https://etf.deutscheam.com/de-DE/ueber-uns/pre...,1,NaN
290341,1522533422,0,200,https://etf.deutscheam.com/de-DE/dokumente/dow...,1,NaN
290342,1522533423,0,200,https://etf.deutscheam.com/de-DE/etf-wissen/ei...,1,NaN
290343,1522533423,0,200,https://etf.deutscheam.com/de-DE/risiken-und-h...,1,NaN
290344,1522533423,0,200,https://etf.deutscheam.com/de-DE/audience-sele...,1,NaN
290345,1522533423,0,200,https://etf.deutscheam.com/de-DE/LU0659579063-...,1,NaN
290346,1522533423,0,200,https://etf.deutscheam.com/de-DE/LU0952581402-...,1,NaN
290347,1522533423,0,200,https://etf.deutscheam.com/de-DE/LU0429790743-...,1,NaN
290348,1522533423,0,200,https://etf.deutscheam.com/de-DE/LU0397221945-...,1,NaN
290349,1522533423,0,200,https://dws.com/de/,1,NaN
290350,1522533423,0,200,https://dws.com/insights/cio-view/article/our-...,1,NaN
290351,1522533424,0,200,https://dws.com/de/Unser-Profil/Zahlen-Fakten/,1,NaN
290352,1522533424,0,200,https://dws.com/en-us/,1,NaN
290353,1522533424,0,200,https://dws.com/US/EN/Product-Finder,1,NaN
290354,1522533424,0,200,https://dws.com/US/EN/Product-Detail-Page/ASHX,1,NaN
290355,1522533424,0,200,https://login.deutscheam.com/login?signin=681c...,1,NaN

In [17]:
df1.shape

(290356, 6)

In [18]:
df2=pandas.read_json("supermarkets.json")
df2

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [20]:
df3=pandas.read_excel("supermarkets.xlsx")
df3

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [23]:
pandas.read_json?